<<<<<<< HEAD

      * {
        padding: 0;
        /* margin: 0; */
      }
      body {
        background-color: greenyellow;
      }
      .image-container {
        display: flex;
        /* align-items: center;
        justify-content: center; */
        margin: 10px;
        /* background-color: lightblue; */
        padding: 1rem;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: lightcoral;
        padding: 10px;
        margin: 20px;
        border-radius: 5%;
        border: 3px solid black;
        text-align: center;
      }
      img {
        /* justify-content: left; */
        border-radius: 100%;
        float: right;
        margin: 10px;
      }
      h3,
      a,
      p,
      h4,
      h5 {
        margin: 10px 10px;
      }
      span {
        display: flex;
      }
      nav > ul {
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        background-color: blue;
      }
      nav > ul > li {
        list-style-type: none;
        border: 1px solid black;
        height: 30px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      nav > ul > li:hover {
        background-color: purple;
        cursor: pointer;
      }
      a{
        text-decoration: none;
        color: red;
=======

      * {
        padding: 0;
        /* margin: 0; */
      }
      body {
        background-color: greenyellow;
      }
      .image-container {
        display: flex;
        /* align-items: center;
        justify-content: center; */
        margin: 10px;
        /* background-color: lightblue; */
        padding: 1rem;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: lightcoral;
        padding: 10px;
        margin: 20px;
        border-radius: 5%;
        border: 3px solid black;
        text-align: center;
      }
      img {
        /* justify-content: left; */
        border-radius: 100%;
        float: right;
        margin: 10px;
      }
      h3,
      a,
      p,
      h4,
      h5 {
        margin: 10px 10px;
      }
      span {
        display: flex;
      }
      nav > ul {
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
        background-color: blue;
      }
      nav > ul > li {
        list-style-type: none;
        border: 1px solid black;
        height: 30px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      nav > ul > li:hover {
        background-color: purple;
        cursor: pointer;
      }
      a{
        text-decoration: none;
        color: red;
>>>>>>> 5d33573 (fix nav links)
      }